__pycache__/
AmItheAsshole/
AskMen/
AskReddit/
AskWomen/
ExplainLikeImFive/
Reddit/
TodayILearned/
trueoffmychest/
UnethicalLifeProTips/
unnecessary_stuff/
venv/
WallStreetBets/
youtube_cookies.json/
backgroundvids/
